<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Slideshare-Downloader</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <h1>Slideshare-Downloader</h1>
    </header>
    <section>
        <a href="https://github.com/mohan3d/slideshare-downloader">
            <img class="ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>
        <div class="form">
            <form action="/fetch" method="GET" accept-charset="utf-8">
                <div class="input">
                    <input class="url" type="text" name="url" placeholder="type slideshare url here..." autofocus>
                    <select name="quality">
                        <option value="high">High</option>
                        <option value="normal">Normal</option>
                        <option value="low">Low</option>
                    </select>
                    <input class="btn" type="submit" value="Go">
                </div>
            </form>
        </div>
        <div class="note">
            Note: due to limited quota, please check <a href="https://github.com/mohan3d/slideshare-go">slideshare-go</a>
            for a CLI based downloader.
        </div>
    </section>
</body>

</html>